.card {
  position: relative;
  font-family: var(--font-card);
  width: 268px;

  &__link {
    position: absolute;
    inset: 0;
  }

  &__img {
    margin-top: -50px;
  }

  &__photo {
    margin-top: 50px;
    height: 240px;
    background-color: #fafafa;
    border-radius: 20px 20px 0 0;
    text-align: center;
  }

  &__desc {
    display: flex;
    gap: 6px;
    flex-direction: column;
    height: 202px;
    padding: 14px 22px 28px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
  }
}
.card {
  &__caregory {
    color: var(--text-muted);
    font-size: 16px;
    position: relative;
    z-index: 3;
  }

  &__title {
    color: var(--ui-dark-blue);
    font-size: 21px;
    font-weight: 600;
  }

  &__rating {
    display: flex;
    gap: 3px;
  }

  &__footer {
    align-items: center;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }

  &__price {
    display: flex;
    align-items: flex-start;
    color: var(--ui-dark-blue);
    font-size: 21px;
    font-weight: 600;

    &::before {
      content: attr(data-value);
      font-size: 15px;
    }
  }

  &__button {
    position: relative;
    z-index: 3;
    width: 48px;
    aspect-ratio: 1;
    background-color: var(--ui-dark-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    transition: opacity 0.2s ease-in;

    &:hover {
      opacity: 0.8;
    }
  }
}
