.read-more {
  display: inline-flex;
  gap: 13px;
  align-items: center;
  color: var(--accent);
  font-size: 14px;
  line-height: 1.85;
  font-weight: 500;
  &--large {
    font-size: 18px;
  }

  &::after {
    content: url(./../icons/arrowRight.svg);
    //Прописали высоту иконки какой она и должна быть
    height: 24px;
  }
}
